{% extends 'base.html' %}
{% block content %}
    <h1>Tasks detail</h1>

    <h2>{{ task.title }}</h2>
    {{ error }}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Save</button>
    </form>

    <form action="{% url 'complete_task' task.id %}" method="POST">
        {% csrf_token %}
        <button>
            Complete
        </button>
    </form>

    <form action="{% url 'delete_task' task.id %}" method="POST">
        {% csrf_token %}
        <button>
            Delete
        </button>
    </form>
{% endblock %}