{% extends 'base.html' %}
{% block content %}

<main class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2 class="text-secondary">{{ task.title }}</h2>
            {{ error }}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success">
                    Save
                </button>
            </form>
            <div class="d-flex justify-content-between mt-2">
                <form action="{% url 'complete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-primary">
                        Complete
                    </button>
                </form>
    
                <form action="{% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
    
{% endblock %}